<!DOCTYPE html>
<head>
    <title>{% block title %}Settings{% endblock %}</title>
    {% load static %}
        <link rel="shortcut icon" href="{% static "chat_app/media/icon.png" %}"/>
    <style>
        .wrapper {
            text-align: center;
        }

        .button {
            position: relative;
            top: 50%;
        }
    </style>
    <div class="wrapper">
        {% load static %}
        <img src="{% static "chat_app/media/GoChat.png" %}" alt="logo" height="300" width="300"/>
    </div>
    
</head>

<body style="background-color:  #ffde59;">

    <div class="wrapper">

        <h1 style="text-align: center; color: #8c52ff;">Delete account</h1>
    <form action="/unsign", method="post">
        {% csrf_token %}
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br>

        <button type="submit" style="text-align:center">Delete</button>
    </div>
    </form>
</body>
</html>