<!DOCTYPE html>
<head>
    <title>{% block title %}Sign In{% endblock %}</title>
    {% load static %}
        <link rel="shortcut icon" href="{% static "chat_app/media/icon.png" %}"/>
    <style>
        .wrapper {
            text-align: center;
        }

        .button {
            position: relative;
            top: 50%;
        }
    </style>
    <div class="wrapper">
        {% load static %}
        <img src="{% static "chat_app/media/GoChat.png" %}" alt="logo" height="300" width="300"/>
    </div>
    
</head>

<body style="background-color:  #ffde59;">

    <div class="wrapper">

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

        <h1 style="text-align: center; color: #8c52ff;">Sign In</h1>
    <form action="/signin", method="post">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="passwd">Password</label><br>
        <input type="password" id="passwd" name="passwd"><br>

        <button type="submit" style="text-align:center">Sign In</button>
    </div>
    </form>
</body>
</html>